{% extends base %}
{% block title %}Calendar - {{ store.name }}{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12" style="border-bottom: 1px solid #eeeeee">
        <h1>Calendar</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <form role="form" method="GET">
            <h4>Please check the booking details.</h4>
            <p><strong>Session:</strong> <a href="{{ booking.listing.url }}" target="_blank">{{ booking.listing.title | escape }}</a></p>
            <p><strong>Time:</strong> {{ booking.startTimeUtc | local_time }}</p>
            <p><strong>Duration:</strong> {{ booking.listing.duration }} minutes</p>
            <p><strong>With:</strong> {{ booking.listing.teamMember.displayname }}</p>
            <p><a class="btn btn-primary" role="button" href="/session/{{booking.id}}/calendar?code={{booking.securecode}}&download=true&accessby={{booking.accessBy}}"><i class="fa fa-download"></i> Download</a></p>
        </form>
    </div>
</div>
    
{% endblock %}